body {
    margin: 0px ;
    padding: 0px;
}

body * {
    font-family: Arial, Helvetica, sans-serif;
}

.div-row {
    display: flex;
    flex-direction: row;
}

.div-column {
    display: flex;
    flex-direction: column;
}