.active {
    background-color: white; 
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    margin-top: 10px;
    color: red;
}

.nav-item {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    margin-top: 10px;
    color: white;
}

.nav-container {
    width: 100px;
    height: 100vh;
    background-color: black;
    padding: 0px;
    margin-right: 10px;
}

.nav-link {
    text-decoration: none;
}

.fs-2 {
    color: red;
}